version: "3.8"

services:
    frontend:
        image: node:14
        container_name: frontend
        working_dir: /frontend
        command: sh -c "npm install && npm start"
        ports:
            - "3000:3000"
        volumes:
            - ./frontend:/frontend

    backend:
        build: .
        image: php:8.0-apache
        container_name: backend
        ports:
            - "8888:80"
        volumes:
            - ./backend:/var/www/html/backend
        environment:
            MYSQL_HOST: db
            MYSQL_DATABASE: blog_app
            MYSQL_USER: root
            MYSQL_PASSWORD: root
        depends_on:
            - db

    db:
        image: mysql:8.0
        container_name: mysql_db
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: blog_app
            MYSQL_USER: root
            MYSQL_PASSWORD: root
        command: --default-authentication-plugin=mysql_native_password
        # ports:
        #     - "3306:3306"
        volumes:
            - mysql_data:/var/lib/mysql

    phpmyadmin:
        image: phpmyadmin:5.2
        container_name: phpmyadmin_container
        restart: always
        ports:
            - "8080:80"
        environment:
            PMA_HOST: db
        volumes:
            - phpmyadmin-data:/sessions
        depends_on:
            - db

volumes:
    mysql_data:
    phpmyadmin-data:
